/* @import "materialize-css/dist/css/materialize.min.css"; */
@import "bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: black;
  color: white;
}

ul {
  padding-left: 0;
}
li {
  list-style: none;
}
i {
  margin-right: 15px;
}
.todo.status .input_value {
  text-decoration: line-through;
}
/* ----------------------------- */
.text_title {
  max-width: 100% !important;
  height: 72px !important;
  background-color: white;
  color: black;
  height: 72px;
}
label {
  display: block;
}
/* --------------------------------- */
.addInformation {
  padding-top: 23px;
  padding-bottom: 23px;
}
.input-field {
  position: relative;
}
.input_main {
  width: 100% !important;
  outline: none;
  font-size: 2.2em;
  padding: 0 30px;
  line-height: 45px;
  border-radius: 10px;
  border: 2px solid white;
  background: transparent;
  color: white;
  transition: 0.1s ease;
  z-index: 1111;
}

.labelline {
  position: absolute;
  font-size: 1em;
  color: aliceblue;
  padding: 0 25px;
  margin: 0 20px;
  background-color: black;
  top: 250px;
  transition: 0.2s ease;
}
.ri-file-add-line {
  position: absolute;
  transform: translate(-27px, 12px);
  cursor: pointer;
}
.ri-file-add-line:hover {
  color: rgb(125, 125, 239);
}
.input_main:focus,
.input_main:valid {
  border: 2px solid rgb(125, 125, 239);
}
.input_main:focus + .labelline,
.input_main:valid + .labelline {
  color: rgb(125, 125, 239);
  height: 30px;
  line-height: 30px;
  transform: translate(-14px, -35px) scale(0.88);
  z-index: 1111;
}
/* Animation */
.main_title {
  font-size: 60px;
  margin-top: 48px;
  margin-bottom: 48px;
  overflow: hidden; /* Забезпечує обрізання тексту, який виходить за межі контейнера */
  border-right: 0.15em solid rgb(255, 255, 255); /* Стилізація курсора */
  white-space: nowrap;
  /* Анімація */
  animation: typing 3s steps(21, end),
    /* Анімація написання тексту */ cursor 0.5s step-end infinite; /* Анімація курсора */
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes cursor {
  from,
  to {
    border-color: transparent; /* Початковий і кінцевий стан курсора */
  }
  50% {
    border-color: rgb(255, 255, 255); /* Стан курсора на середині анімації */
  }
}
li {
  list-style: none;
}
/* checkbox */

/* chk */
.format_read_main {
  padding: 16px !important;
  background-color: white;
  border-radius: 20px;
  padding-right: 80px !important;
}
.format_read {
  display: flex;
  align-items: center;
}

.checkbox-container {
  /* transform: scale(2.1); */
  width: 16px !important;
  height: 16px !important;
  background-color: #f0f0f0 !important;
}
.chk_container {
  display: inline-flex;
  padding: 12px;
  align-items: center;
  border-radius: 12px;
  background: #f2f2f2;
  margin-right: 8px;
  transition: all 0.4s;
}
.chk_container:hover {
  background: #e6efff;
}
.timer-curent {
  color: #666666;
  font-size: 8px;
  margin: 0;
}
.input_value {
  color: black;
  font-size: 14px;
  margin: 0;
}
.elemnts_rull {
  color: black;
}
.format_read_main {
  position: relative;
}

.elemnts_rull {
  display: flex;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.format_read:hover .elemnts_rull {
  opacity: 1;
}

.edit_input {
  width: 100%;
  border-radius: 12px;
  line-height: 55px;
}

.ri-delete-bin-line:hover {
  color: red;
  transition: 0.4s;
}
.ri-pencil-line:hover {
  color: rgb(136, 220, 136);
  transition: 0.4s;
}

.todo {
  margin-top: 3px;
}
